@media (max-width: 768px) {
    .accueil_container {
        flex-direction: column;
    }
    .accueil_left,
    .accueil_right {
        min-width: 100%;
        width: 100%;
    }
    .footer-container {
        flex-direction: column;
        gap: 25px;
        align-items: center;
        text-align: center;
    }
}

body {
    font-family: "Nunito Sans";
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav { 
    position: fixed;
    box-sizing: border-box;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 50px; 
    background-color: black; 
    color: white; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 0px 20px; 
    z-index: 1000;     
} 

.navleft { 
    font-weight: 600;
    text-transform: uppercase; 
}

.navright { 
    list-style: none; 
    display: flex; 
    gap: 24px; 
    margin: 0;
    padding: 0;
}

.navright a {
    text-decoration: none;
    position: relative;
    color: #ffffff;
}

.navright li { 
    display: flex;
    align-items: center;
}

.navright a:hover{
    color: #e6e6e6;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 4px 4px;
    position: relative;
}

.nav-toggle{ 
    display: none; 
}

.burger { 
    width:28px; 
    height: 22px; 
    position: relative; 
    cursor: pointer; 
    display: none; 
}

main {
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.10);
    background: #fff;
    margin: 2% 20%;
    padding: 32px;
}

h1{
    font-size: 300%;
    font-weight: 600;
    margin-bottom: 16px;
}

h2 {
    font-size: 200%;
    font-weight: 600;
    margin-bottom: 24px;
}

h3 {
    border-bottom: 4px solid #1976f6;
    padding-bottom: 6px;
    margin-bottom: 18px;
}

h4 {
    font-size: 18px;
}

.footer {
    width: 100%;
    background-color: #1f262b;
    color: #ffffff;
    padding: 40px 20px;
}

.footer-container {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    padding: 0 100px;
    justify-content: center;
    gap: 40px;
}

.footcol {
    flex: 1;
}

.footcol ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footcol a {
    color: #ffffff;
    text-decoration: none;
}

.footcol a:hover {
    color: #e6e6e6;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 4px 4px;
    position: relative;
}

.alogo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
.logo {
    width: 20px;
    height: 20px;
}
&:hover .logo {
    transform: scale(1.25);
    filter: invert(1);
}
}


